h1 {
    color: red;
    text-align: center;}

div.sample{
 text-align: center;
 margin-left: 30%;
 margin-right: 30%;
 
 background-color: aliceblue;
 background-size: 10%;
}


main{
 margin-top: 8em;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    font-size: 14px;    
}

main > .container {
 padding: 20px 15px 0;
}

#images{
    max-width: 40vw;
    max-height: 40vh;
    margin: 3px;
}

li, ul{
    list-style: none;
}

body{
    background-image: url("../img/fond.jpg");
    background-size: cover;
}
