h1 {
    color: red;
    text-align: center;}

div.sample, div.co{
 text-align: center;
 margin-left: 30%;
 margin-right: 30%;
 
 background-color: aliceblue;
 background-size: 10%;
}

.form-control, .btn-default{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

main{
 margin-top: 8em;
 margin-bottom: 2em;
}

footer{
    position:fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;    
}

main > .container {
 padding: 20px 15px 0;
}

#images{
    max-width: 40vw;
    max-height: 40vh;
    margin: 3px;
}

li, ul{
    list-style: none;
}

body{
    background-image: url("../img/fond.jpg");
    background-size: cover;
}
